
<form action="/home/customregister" method="post">
    <label>username </label>
    <input type="text" title="username" placeholder="e.g. alex-jones" class="form-control" name="Username" id="Username"/>
    <br/><br/>
    <label>password </label>
    <input type="password" title="username" placeholder="e.g. Password@12Three#" class="form-control" name="Password" id="Password" />
    <br/><br/>
    <input type="submit" />
</form>